* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-image: linear-gradient(60deg, #4d5ea2 0%, #30c43c 100%);
}

#app {
	overflow: hidden;
    display: grid;
    grid-template-rows: auto auto 1fr;
	/* grid-template-columns: 320px 1fr; */
    height: 100%;
    width: 100%;
	grid-gap: 8px;
}

.app {
	display: grid;
	
	grid-template-rows: auto auto 1fr;
	grid-gap: 8px;

	height: 100%;


	/* background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%); */
}

header {
    display: grid;
    grid-template-columns: 320px 1fr;
}
/* header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	font-family: 'Balsamic Sans', sans-serif;
	font-size: 16px;
    
	padding: 1em;
} */

/* #NavBar {
    display: flex;
	flex-direction: row;
    justify-content: space-evenly;
} */

#NavBar {
    display: grid;
	grid-template-columns: 1fr;
    justify-content: space-between;
}

.menu {
    justify-self: right;
    justify-content: space-between;
    width: 90%
}
.RoutineCard, .ActivityCard, #CreateRoutineForm, #CreateActivityForm{
    max-width: 80%;
    margin-left: 10%;
}

.loginForm {
    max-width: 300px;
}